pyscaffold==2.5.7
sphinx>=1.4
ipykernel
nbsphinx
future
futures
numpy
scipy
pandas
ipython==6.5.0
ipyparallel
JPype1
jupyter
mpld3
scikit-learn
seaborn
matplotlib
pyzmq
mpldatacursor
pysd
platypus
prompt-toolkit==1.0.15
pyNetlogo
six==1.12.0
